<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method= 'POST'>
      <h3>Enter your phrase:</h3>
      <label for = 'user_phrase'>
      <textarea name= 'user_phrase'  style="width: 200px; height: 100px"/></textarea>
      </br>
      <input type="submit" name='submit'>
    </form>
  </body>
</html>
