<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/piglatinize" method= 'POST'>
      <h3>Enter some text!</h3>
      <label for = 'name'>
      <textarea name= 'name'  style="width: 200px; height: 100px"/></textarea>
      </br>
      <input type="submit">
    </form>
  </body>
</html>
